<div class="container">
    <div class="row">
        <div class="col-md mt-5 mx-auto">
            <form (submit)="login">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="Entre Email" [(ngModel)]="credentials.email">
                </div>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Entre le mot de passe" [(ngModel)]="credentials.password">
                </div>
                <button type="submit" class="btn btn-lg btn-prmary btn-block">Sign In</button>
            </form>
        </div>
    </div>
</div>