<div class="container">
    <div class="row">
        <div class="col-md mt-5 mx-auto">
            <form (submit)="register()">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Entrer votre nom complet " [(ngModel)]="credentials.name">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="Entre Email" [(ngModel)]="credentials.email">
                </div>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Entre le mot de passe" [(ngModel)]="credentials.password">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <select name="statut" id="statut" class="form-control">
                        <option value="admin">Admin</option>
                        <option value="membre" selected>membre</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-lg btn-prmary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>